body {
    margin: 0;
    padding: 0;
}

header {
    width: 1440px;
    height: 88px;
    border-bottom: solid;
}

.container{
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.albumcover {
    background-color: #f2f2f2;
    width: 198px;
    height: 198px;
    margin-bottom: 20px;
}